html {
	background-color:#e4e3c3;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:5em;
	
}

form {
	border:2px solid #003;
	padding:2em;
	width:15em;
	margin-left:70em;
	
}

label,legend {
	padding: 0.25em;
	display: block; 
	 
}

.error {
	color:#009;
}

fieldset {
	color:#009;
}

